.random-cocktail-page {
  //margin-top:20% ;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-title {
    margin: 2%;
    color:white;
    font-size: calc(5vw + 1rem);
  }

  .random-page-gif-image {
    max-width: 400px;
    margin: 20px;
  }
}

.link {
  background: red;
  padding: 10px;
  text-decoration: none;
  bottom:10%;
  color: white;
}


