.random-cocktail-page {
  text-align: center;

  .page-title {
    margin: 2%;
    color:white;
    cursor: pointer;
    font-size: calc(5vw + 1rem);
    &:hover {
      color:#006b2d ;
    }
  }

  img {
    max-width: 400px
  }
}

.link {
  background: red;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  bottom:10%;
  z-index: 999999999999999999999999999999;
  color: white;
}