.grid {
  //background: red;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-between;
  
  //.grid-item {
  //  flex:1;
  //  display: block;
  //  padding: 20px;
  //  background: green;
  //  text-align: center;
  //  border: 1px solid navy;
  //}
}