.welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .welcome-text {
    font-size:calc(6vw + 1rem);
    color: white;
    //position: absolute;
    top: 30%;

  }
}

