.nikos {
  color: red;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  border-radius: 20px;
}

.link {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.mainScreen {
  height: 100vh;
  text-align: center;
}
