#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #a06cd5;
  color: white;
  padding: 15px;
}

#header a {
  font-weight: bold;
}

nav {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-left: 15px;
  padding: 2px;
}
